<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <!-- Add Bootstrap CSS for grid layout -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Movie Recommendations</h1>
        <form action="/" method="post">
            <div class="form-group">
                <label for="movie_title">Enter a movie title</label>
                <input type="text" class="form-control" id="movie_title" name="movie_title" placeholder="enter your favourite movie, i'll recommend something you might like :)">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>

            <a href="/watchlist" class="btn btn-secondary">View Watchlist</a>
        </form>

        <!-- Display movie recommendations -->
        <div class="row mt-5">
            {% for movie in recommendations %}
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-3">
                    <div class="card">
                        <img src="{{ movie.poster_link }}" class="card-img-top" alt="{{ movie.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <form action="/add_to_watchlist" method="post">
                                <input type="hidden" name="movie_title" value="{{ movie.title }}">
                                <button type="submit" class="btn btn-primary">Add to watchlist</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
