<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watchlist</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
<h1 class="text-center my-4">My Watchlist</h1>

  <div class="row mt-5">
            {% for movie in watchlist %}
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-3">
                    <div class="card">
                        <img src="{{ movie.poster_link }}" class="card-img-top" alt="{{ movie.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <form method="POST" action="/remove_from_watchlist">
                                <input type="hidden" name="movie_title" value="{{ movie.title }}">
                                <button type="submit" class="btn btn-primary">Remove from watchlist</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
         </div>
</body>
</html>


